In [2]:
!pip install linkpreview
!pip install bs4
!pip install linkpreview

Requirement already satisfied: linkpreview in c:\users\baptiste\anaconda3\lib\site-packages (0.1.11)
Requirement already satisfied: requests>=2.22.0 in c:\users\baptiste\anaconda3\lib\site-packages (from linkpreview) (2.24.0)
Requirement already satisfied: beautifulsoup4>=4.4.0 in c:\users\baptiste\anaconda3\lib\site-packages (from linkpreview) (4.9.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\baptiste\anaconda3\lib\site-packages (from requests>=2.22.0->linkpreview) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\baptiste\anaconda3\lib\site-packages (from requests>=2.22.0->linkpreview) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\baptiste\anaconda3\lib\site-packages (from requests>=2.22.0->linkpreview) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\baptiste\anaconda3\lib\site-packages (from requests>=2.22.0->linkpreview) (3.0.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\baptiste\anaconda3\lib\site-packages (from beautifulsoup4>=4.4.0->linkpreview) (2.0.1)
Requirement already satisfied: bs4 in c:\users\baptiste\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\baptiste\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\baptiste\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: linkpreview in c:\users\baptiste\anaconda3\lib\site-packages (0.1.11)
Requirement already satisfied: requests>=2.22.0 in c:\users\baptiste\anaconda3\lib\site-packages (from linkpreview) (2.24.0)
Requirement already satisfied: beautifulsoup4>=4.4.0 in c:\users\baptiste\anaconda3\lib\site-packages (from linkpreview) (4.9.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\baptiste\anaconda3\lib\site-packages (from requests>=2.22.0->linkpreview) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\baptiste\anaconda3\lib\site-packages (from requests>=2.22.0->linkpreview) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\baptiste\anaconda3\lib\site-packages (from requests>=2.22.0->linkpreview) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\baptiste\anaconda3\lib\site-packages (from requests>=2.22.0->linkpreview) (2.10)
Requirement already satisfied: soupsieve>1.2 in c:\users\baptiste\anaconda3\lib\site-packages (from beautifulsoup4>=4.4.0->linkpreview) (2.0.1)

In [1]:
from linkpreview import link_preview
from bs4 import BeautifulSoup
import pandas as pd

In [27]:
image=pd.read_csv(r"C:/Users/Baptiste/Desktop/projet_3/moviz/ml-latest/links.csv")

In [28]:
image

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
58093   193876    38566   78251.0
58094   193878  1754787   87558.0
58095   193880  5847740  422666.0
58096   193882  4453756  454439.0
58097   193886  7606620  540871.0

[58098 rows x 3 columns]

In [29]:
image['imdbId']=image['imdbId'].apply(str)
image.imdbId =image.imdbId.astype(str)

In [30]:
image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   imdbId   58098 non-null  object
 2   tmdbId   57917 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB

In [31]:
image['imdbId']=image['imdbId'].str.zfill(7)

In [32]:
image['first_part_link'] = "https://www.imdb.com/title/tt"

In [33]:
image['third_par_link']= "/"

In [34]:
image.head()

   movieId   imdbId   tmdbId                first_part_link third_par_link
0        1  0114709    862.0  https://www.imdb.com/title/tt              /
1        2  0113497   8844.0  https://www.imdb.com/title/tt              /
2        3  0113228  15602.0  https://www.imdb.com/title/tt              /
3        4  0114885  31357.0  https://www.imdb.com/title/tt              /
4        5  0113041  11862.0  https://www.imdb.com/title/tt              /

In [35]:
# comparaison 
# lien 1 : https://www.imdb.com/title/tt0114709/
# lien 2 : https://www.imdb.com/title/tt114709/

In [36]:
image['final_link']=image['first_part_link']+image['imdbId']+image['third_par_link']

In [37]:
image.head()

,movieId,imdbId,tmdbId,first_part_link,third_par_link,final_link
0,1,0114709,862.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0114709/
1,2,0113497,8844.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0113497/
2,3,0113228,15602.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0113228/
3,4,0114885,31357.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0114885/
4,5,0113041,11862.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0113041/

In [38]:
image.to_csv("image.csv",index=False)

In [39]:
image2=pd.read_csv(r"C:/Users/Baptiste/Desktop/image.csv")

In [40]:
image2

,movieId,imdbId,tmdbId,first_part_link,third_par_link,final_link
0,1,114709,862.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0114709/
1,2,113497,8844.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0113497/
2,3,113228,15602.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0113228/
3,4,114885,31357.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0114885/
4,5,113041,11862.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0113041/
...,...,...,...,...,...,...
58093,193876,38566,78251.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0038566/
58094,193878,1754787,87558.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt1754787/
58095,193880,5847740,422666.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt5847740/
58096,193882,4453756,454439.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt4453756/
58097,193886,7606620,540871.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt7606620/

In [41]:
from linkpreview import link_preview
from PIL import Image

In [42]:
image_test=image.iloc[0:1].copy()

In [43]:
image_test

,movieId,imdbId,tmdbId,first_part_link,third_par_link,final_link
0,1,0114709,862.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0114709/

In [44]:
image_test['image_unique'] = image_test['final_link'].apply(lambda x: link_preview(x).image)
image_test.head()

,movieId,imdbId,tmdbId,first_part_link,third_par_link,final_link,image_unique
0,1,0114709,862.0,https://www.imdb.com/title/tt,/,https://www.imdb.com/title/tt0114709/,https://m.media-amazon.com/images/M/MV5BMDU2ZW...

In [45]:
preview=link_preview("https://www.imdb.com/title/tt0114709/")
print("absolute_image:", preview.absolute_image)

absolute_image: https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_UY1200_CR87,0,630,1200_AL_.jpg

In [47]:
# how to open an image by a link 
import urllib.request
import PIL.Image
#from PIL import Image
url = image_test['image_unique'][0] #selectioner une valeur d'une colonnes 
image = PIL.Image.open(urllib.request.urlopen(url))
width, height = image.size

In [52]:
image.size=(50,100)

AttributeError: can't set attribute